<div class="flex flex-row justify-content-center">
  <h1>Viasoft</h1>
</div>
<div
  style="width: 100%; background-color: #111618"
  class="flex flex-row justify-content-center"
>
  <p-orderList
    [value]="datas"
    [listStyle]="{ 'max-height': '30rem' }"
    header="Estados"
    filterBy="autorizador"
    filterPlaceholder="Filtrar por autorizador"
    [dragdrop]="false"
    class="border-round py-5"
  >
    <ng-template let-datas pTemplate="item">
      <div class="grid">
        <div class="col">
          <h5>{{ datas.autorizador }}</h5>
        </div>

        <div class="col">
          <h5>{{ datas.estado }}</h5>
        </div>

        <div class="col">
          <h5>${{ datas.fecha }}</h5>
        </div>

        <div class="col">
          <h5>{{ datas._id }}</h5>
        </div>
      </div>
    </ng-template>
  </p-orderList>
</div>
